<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <table class="table table-bordered">
					<thead>
						<tr>
							<th>
								Member Number
							</th>
							<th>
								Member Name
							</th>
							<th>
								Book Name
							</th>
							<th>
							    Copy Number
							</th>
                            <th>
                                Date Out
                            </th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td>
	                            1
								</td>
								<td>
								Marmik Shrestha	
								</td>
								<td>
								Lord of the Rings
								</td>
								<td>
								2	
								</td>
                                <td>
                                    2017-02-03
                                </td>
							</tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                Broove Macke
                            </td>
                            <td>
                                Lorem Ipsum
                            </td>
                            <td>
                                2
                            </td>
                            <td>
                                2017-01-18
                            </td>
                        </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
