@{
    ViewBag.Title = "Book";
	ViewBag.TitleSmall = "All";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <table class="table table-bordered">
					<thead>
						<tr>
							<th>
								Press Name
							</th>
							<th>
								Publisher Name
							</th>
							<th>
								Book Name
							</th>
							<th>
								Author Name
							</th>
                            <th>
                                Book Copy
                            </th>
							<th>
								Last Loaned On
							</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td>
									fkls
								<td>
									fdag
								</td>
								<td>
									gdag
								</td>
								<td>
									fjkl
								</td>
								<td>
									dgpgr
								</td>
								<td>
									2017-03-03
								</td>
							
							</tr>
                        <tr>
                            <td>
                                fkls
                            <td>
                                fdag
                            </td>
                            <td>
                                gdag
                            </td>
                            <td>
                                fjkl
                            </td>
                            <td>
                                dgpgr
                            </td>
                            <td>
                                2017-03-03
                            </td>

                        </tr>
					</tbody>
				</table>
			</div>
			<div class="box-footer clearfix">
            </div>
		</div>
	</div>
</div>
