@{
    ViewBag.Title ="Inactive Members";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <table class="table table-bordered">
					<thead>
						<tr>
							<th>
								First Name
							</th>
							<th>
								Last Name
							</th>
							<th>
								Address
							</th>
							<th>
								Last Loaned Date
							</th>
							<th>
								Last Loaned Book
							</th>
							<th>
								No. of Days Since Last Loan
							</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td>
                                    Bla
								</td>
								<td>
                                    Bla
								</td>
								<td>
                                    Bla
								</td>
                                <td>
                                    Bla
                                </td>
                                <td>
                                    Lorem Ipsum
                                </td>
                                <td>
                                    34
                                </td>
							</tr>
                        <tr>
                            <td>
                                Bla
                            </td>
                            <td>
                                Bla
                            </td>
                            <td>
                                Bla
                            </td>
                            <td>
                                Bla
                            </td>
                            <td>
                                Lorem Ipsum
                            </td>
                            <td>
                                34
                            </td>
                        </tr>
					</tbody>
				</table>
			</div>
			<div class="box-footer clearfix">
                <div class="pull-right">
                </div>
            </div>
		</div>
	</div>
</div>
